<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;"><img src="{{sponsor}}" alt="logo ruta N" width="175" height="99" /></h1>
<h2><strong><span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">DATE : {{date_report}}</span></strong></h2>
<h2><strong><span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">VEHICLES EVALUATED : {{vehicles}}&nbsp;&nbsp;</span></strong></h2>
<h2><strong><span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">INFORMATION TRACKED VEHICLES</span></strong></h2>
<p>This is a simple document that shows us the consumed petrol per day and vehicle type. 
    It helps to understand how, from a basic format, it is possible to create solutions 
    that could be integrated with other systems and help the companies to improve their operations.
&nbsp;</p>
<h2><strong><span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">CONSUMPTION GRAPH&nbsp;</span></strong></h2>
<p><img src="{{plot}}" alt="" width="700" height="471" /></p>
<h2><strong><span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">IMAGES</span></strong></h2>
<p><img src="{{merged}}" alt="" width="768" height="300" /></p>
<p><strong>&nbsp;</strong></p>